h1{color:rgb(35, 52, 149)}
.HEADING{background-color: rgb(100, 182, 236); display:flex; justify-content: space-evenly;}
.LINKS{background-color: rgb(76, 146, 192); display:flex; justify-content: space-evenly;}
